<h1> Spotflip </h1>

<%= link_to 'Todos os Albuns', albums_path %> <br>
<%= link_to 'Todas as Músicas', musics_path %> <br>
<%= link_to 'Estilos Musicais', music_styles_path %> <br>
<%= link_to 'Calendário', calendars_path %> <br>
<%= link_to 'Gráficos', charts_path %> <br>
