<%= javascript_include_tag "button" %>

<h1>Albuns salvos</h1>
<div>
  <table>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Artista</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td id="album-<%= album.id %>"><%= album.name %></td>
        <td><%= album.artist %></td>
        <td><%= link_to 'Detalhes', album_path(album) %></td>
        <td><%= link_to 'Editar', edit_album_path(album) %></td>
        <td><%= link_to 'Deletar', album_path(album), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <td><button type="button" id="heard-<%= album.id %>">Escutado</button></td>
        <td><button type="button" id="unheard-<%= album.id %>">Não Escutado</button></td>
        <td><button type="button" id="clean-<%= album.id %>"> Limpar</button></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Novo Album', new_album_path %>
  <%= link_to 'Home', root_path %>

  <br>

</div>
